---
title: "CircleRC"
screenshots:
  - /assets/images/screenshots/circlerc/level-11.png
  - /assets/images/screenshots/circlerc/level-02.png
  - /assets/images/screenshots/circlerc/level-07.png
---
{% include gallery-screenshot.html image_paths=page.screenshots %}

<p>CircleRC is a top-down time-trial game where you control a small remote control car that can only steer left and right. Circle around objectives to capture them, and get to the flag in the shortest time possible!</p>

{% include button-itch.html url="https://speedyvelcro.itch.io/circlerc" %}

<p>Currently I’m working on a big update to flesh out the game with extra levels, after which I hope to port it to Newgrounds and Game Jolt with high score support.</p>
