<div class="site-footer">
	<div class="banner-88x31-grid">
		<a href="/88x31"><img src="/assets/images/speedyvelcro-88x31.png" alt="speedyvelcro.com"></img></a>
		<a href="http://validator.w3.org/feed/check.cgi?url=https%3A//speedyvelcro.com/feed.xml" target="blank" rel="noopener noreferrer"><img src="/assets/images/banners/valid-atom.png" alt="[Valid Atom 1.0]" title="Validate my Atom 1.0 feed" /></a>
	</div>
	<p>Thanks for visiting! ^_^ (<a href="https://github.com/SpeedyVelcro/SpeedyVelcro.github.io" target="blank" rel="noopener noreferrer">Source Code</a>)</p>
</div>
