---
title: "Squid Savings"
screenshots:
  - /assets/images/screenshots/squid-savings/screenshot-1.png
  - /assets/images/screenshots/squid-savings/screenshot-2.png
---
{% include gallery-screenshot.html image_paths=page.screenshots %}

<p>Squid Savings is a casual underwater exploration game.</p>

{% include button-newgrounds.html url="https://www.newgrounds.com/portal/view/770939" %}
{% include button-gamejolt.html url="https://gamejolt.com/games/squid-savings/554013" %}
{% include button-itch.html url="https://speedyvelcro.itch.io/squid-savings" %}

<p>Find the Squid Savings soundtrack <a href="/music/squid-savings-ost/">here</a>.</p>
