---
title: "Advanced Invasion"
screenshots:
  - /assets/images/screenshots/advanced-invasion/gameplay-2.png
  - /assets/images/screenshots/advanced-invasion/gameplay-1.png
  - /assets/images/screenshots/advanced-invasion/gameplay-3.png
  - /assets/images/screenshots/advanced-invasion/gameplay-4.png
  - /assets/images/screenshots/advanced-invasion/gameplay-5.png
  - /assets/images/screenshots/advanced-invasion/gameplay-6.png
---
{% include gallery-screenshot.html image_paths=page.screenshots %}

<p>Advanced Invasion is a casual platformer with a fast-paced story made as a spiritual successor to an obscure classic on the YoYoGames sandbox, Virus Invasion by blublub. It's also a reboot to the identically-named spiritual successor I made at the time under the name SpeedyVelcro.</p>

{% include button-newgrounds.html url="https://www.newgrounds.com/portal/view/789364" %}
{% include button-gamejolt.html url="https://gamejolt.com/games/advanced-invasion/604867" %}
{% include button-itch.html url="https://swiftvector.itch.io/advanced-invasion" %}

<p>You can find the source code <a href="https://github.com/SpeedyVelcro/advanced-invasion" target="_blank" rel="noopener noreferrer">here</a>.</p>

<p>Information about the soundtrack is on my website <a href="/music/advanced-invasion-ost/">here</a>.</p>
